/*
palette colors
695675 -- dark grape, matte violet
DD5A7F -- raspberry matte red
F87363 -- matte orange
F7DFA8 -- sand
58B28B -- 50s green
*/

label, xinput {
	display: block;
	margin: 0;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
  xborder:1px solid red;
}
label:hover {
  background-color: yellow;
}
input {
	margin-left: 0.5em;
  xborder:1px solid brown;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
  width: 100%
}

tr:hover {
  background-color: yellow;
}

td,
th {
	padding: 5px;
	border-bottom: 1px solid #aaa;
}

button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

