/* palette colors */
:root {
  --color1: #695675; /* dark grape, matte violet */
  --color2: #DD5A7F; /* raspberry matte red */
  --color3: #F87363; /* matte orange */
  --color4: #F7DFA8; /* sand */
  --color5: #58B28B; /* 50s green */
}

body {
  margin:0;
}
.header {
  background-color: var(--color5);
  margin:0;
  padding:5px;
}
.footer {
  background-color: var(--color3);
  margin:0;
  xpadding:5px;
}
.navbar {
  margin:0;
  background-color: var(--color4);
  padding:5px;
}
.meta, .meta A {
  margin:0;
  color: var(--color4);
  background-color: var(--color1);
  padding:5px;
}
h1, h2 {
  margin:0;
  padding: 0 0 10px 0;
}
.mainbody {
  margin: 0;
  padding: 5px;
}
.label {
	display: block;
	margin: 0;
	padding: 0.2em;
}

.labeltext {
  width:10em;
}
.label:hover {
  background-color: var(--color4);
}
.input {
	margin-left: 0.5em;
}
.formhint {
  font-size: 85%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
  width: 100%
}

TH {
  text-align: left;
}
.offered {
  background-color: var(--color5);
}
.notoffered {
  x-text-decoration: line-through;
  color: var(--color4);
  background-color: var(--color1);
}
.loaned {
  background-color: var(--color4);
}
.deleted {
  background-color: var(--color1);
}

tr:hover {
  background-color: yellow;
}

td,
th {
	padding: 5px;
	border-bottom: 1px solid black;
}

.xbutton {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  text-decoration: underline;
  cursor: pointer;
}

.success {
  color: white;
  background-color: var(--color5);
  padding: 5px;
}

.failure {
  color: white;
  background-color: var(--color2);
  padding: 5px;
}

.warning {
  xcolor: white;
  background-color: var(--color4);
  padding: 5px;
}
